AnchorPane {
    /*-fx-background-radius: 30;*/
}

.title {
    -fx-font-size: 24px;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}

.description {
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
}

.nextButton {
    -fx-background-color: #00000020;
    -fx-background-radius: 50px;
    -fx-text-fill: #fff;
    -fx-font-size: 21px;
}

.position {
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
}

.pane1 {
    -fx-background-color: #E91E63;
}

.pane2 {
    -fx-background-color: #42A5F5;
}

.pane3 {
    -fx-background-color: #512DA8;
}

.closeButton{

}
